h1 {
    font-family: 'Indie Flower', cursive;
}

*{
    font-family: 'RocknRoll One', sans-serif;
}

@media screen and (max-width: 640px){
    
*{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: #6ed8f0;
    color: #485bab;
}

h1{
    background-color: #27badb;
    color: #dcf0f5;
}

.cart{
    background-color: #e5bbfc;
    width: 
}
.ca{
    background-color: #e5bbfc;
}
h3.section-header{
    background-color: #e5bbfc;
}

div.wrapper{
    background-color: #e5bbfc
}

}